/target/

/.settings/

/.classpath

/.project

/test-output/

# Ignore the entire webdriver directory
/config/webdriver/chrome/chromebrowser/
/config/webdriver/edge/edgebrowser/
/config/webdriver/firefox/firefoxbrowser/